.header-cont {
  background-color: #f1f5f9;
  height: 100px;
  padding-left: 150px;
  display: flex;
  align-items: center;
}

.img-header {
  height: 50px;
  width: 150px;
}

@media screen and (max-width: 768px) {
  .header-cont {
    padding-left: 50px;
  }
}
